absl-py==0.15.0
-e git+https://github.com/huggingface/accelerate.git@fa476d03ce39e67f6b5632f3308fa07f2fb37140#egg=accelerate
aiofiles==0.8.0
anyio==3.5.0
argcomplete==2.0.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
backports.zoneinfo==0.2.1
bleach==1.5.0
boto3==1.21.39
botocore==1.24.39
cached-property==1.5.2
cachetools==4.2.4
certifi==2020.6.20
charset-normalizer==2.0.12
clang==5.0
click==8.0.4
contextvars==2.4
cycler==0.11.0
dataclasses==0.8
decorator==4.4.2
Deprecated==1.2.13
dill==0.3.4
dnspython==2.2.1
easydict==1.9
eventlet==0.33.0
fiftyone==0.15.0.1
fiftyone-brain==0.8.1
fiftyone-db==0.3.0
flatbuffers==1.12
future==0.18.2
gast==0.4.0
glob2==0.7
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.44.0
h11==0.12.0
h5py==3.1.0
html5lib==0.9999999
httpcore==0.14.7
httpx==0.22.0
idna==3.3
imageio==2.15.0
immutables==0.17
importlib-metadata==4.8.3
importlib-resources==5.4.0
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
kaleido==0.2.1
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.3.4
mongoengine==0.20.0
motor==2.5.1
ndjson==0.3.1
networkx==2.5.1
nltk==3.6.7
numpy==1.19.5
oauthlib==3.2.0
opencv-python-headless==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.5
patool==1.12
Pillow==8.4.0
plotly==4.14.3
pprintpp==0.4.0
protobuf==3.19.4
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==3.12.3
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
PyYAML==6.0
regex==2022.3.15
requests==2.27.1
requests-oauthlib==1.3.1
retrying==1.3.3
rfc3986==1.5.0
rsa==4.8
s3transfer==0.5.2
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.4.0
tabulate==0.8.9
tensorboard==1.14.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-tensorboard==0.1.8
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2020.9.3
torch==1.10.1
torchfile==0.1.0
torchvision==0.11.2
tornado==6.1
tqdm==4.64.0
typing-extensions==3.7.4.3
tzdata==2022.1
tzlocal==4.2
universal-analytics-python3==1.1.1
urllib3==1.26.9
voxel51-eta==0.6.5
Werkzeug==2.0.3
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.6.0
